.menu .menu-search {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}
.menu .content {
  float: left;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  overflow: auto;
}
.menu .content .sub-nav {
  float: left;
  position: fixed;
  width: 32%;
  height: 100%;
  background-color: #fff;
}
.menu .content .sub-nav .sub-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 10px 5px;
  line-height: 50px;
  vertical-align: middle;
}
.menu .content .sub-nav .sub-nav-item .sub-nav-icon {
  width: 50px;
  margin: 0 5px;
  vertical-align: middle;
}
.menu .content .sub-nav .sub-nav-item .sub-nav-title {
  text-align: center;
  width: 100px;
  font-size: 16px;
  font-weight: 400;
}
.menu .content .sub-nav .item-active {
  border-left: 3px solid #182078;
}
.menu .content .product-item {
  float: right;
  width: 66%;
  padding-bottom: 100px;
}
.menu .content .product-item .product-item-card {
  position: relative;
  display: flex;
  align-items: center;
  height: 130px;
  margin: 5px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}
.menu .content .product-item .product-item-card .p-img {
  width: 40%;
  margin: 0 10px;
  border-radius: 15px;
  overflow: hidden;
}
.menu .content .product-item .product-item-card .p-contnet {
  width: 50%;
}
.menu .content .product-item .product-item-card .p-contnet .name {
  font-size: 18px;
  margin-bottom: 5px;
}
.menu .content .product-item .product-item-card .p-contnet .enname {
  color: #ccc;
  margin-bottom: 20px;
}
.menu .content .product-item .product-item-card .p-contnet .price {
  font-size: 18px;
  font-weight: 600;
  color: #182078;
}
.menu .content .product-item .product-item-card .add {
  position: absolute;
  right: 10px;
  bottom: 22px;
  font-size: 20px;
  color: #182078;
}
